<div class="mt-5 pt-5" data-aos="fade-up" data-aos-duration="1000">
    <div class="text-center">
        <h1>ABOUT ME</h1>
        <div class="d-flex justify-content-center gap-3 align-items-center fst-italic">
            <h4>WEB DEVELOPER</h4>
            <H4>UI/UX DESIGNER</H4>
        </div>
    </div>
    <div class="bg-warning p-5 mt-3"  data-aos="fade-left" data-aos-duration="1000">
        <div class="container d-flex justify-content-around align-items-center gap-5 flex-column flex-lg-row">
            <img src="assets/images/myphoto.jpg" alt="photo" class="img-fluid rounded-circle" style="width: 300px; height: 300px;" data-aos="fade-left" data-aos-duration="1000">
            <div class="description text-dark">
                <h4 data-aos="fade-right" data-aos-duration="1000">June Sarah Quiambao</h4>
                <p id="about" data-aos="fade-right" data-aos-duration="1000">Hey there, I am June Sarah Quiambao. I do programming—mostly front-end, graphic design, and digital illustration. I love the stars, and learning new things. I am a person that can easily hard reset my knowledge on something, to relearn anew. I am into routines, and schedules but I could be spontaneous when needed. I enjoy listening to music whenever I work; it makes me more productive.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5" data-aos="fade-up" data-aos-duration="1000">
        <h4 class="text-center">BADGES AND CERTIFICATES</h4>
        <div class="container d-flex justify-content-around mt-3 flex-column flex-lg-row">
            <div class="2025" data-aos="fade-up" data-aos-duration="1500">
                <div class="d-flex align-items-center gap-2 mb-2">
                    <i class="fa-solid fa-star star rotate-reverse"></i>
                    <h5 class="my-auto">2025</h5>
                </div>
                <ul class="cert-links">
                    <a href="https://app.hubspot.com/academy/achievements/k774h09q/en/1/june-sarah-quiambao/seo" class="nav-link mb-1" target="_blank"><li>Hubspot SEO I</li></a>
                    <a href="https://app.hubspot.com/academy/achievements/md38l0vq/en/1/june-sarah-quiambao/seo-ii" class="nav-link mb-1" target="_blank"><li>Hubsport SEO II</li></a>
                    <a href="https://skillshop.credential.net/5fb5ca63-7c95-47dc-aaa4-0a9c721ed558#acc.U9ANPnCp" class="nav-link mb-1" target="_blank"><li>Google Analytics Certification</li></a>
                </ul>
            </div>
            <div class="2024" data-aos="fade-up" data-aos-duration="2000">
                <div class="d-flex align-items-center gap-2 mb-2">
                    <i class="fa-solid fa-star star rotate-reverse"></i>
                    <h5 class="my-auto">2024</h5>
                </div>
                <ul class="cert-links">
                    <a href="https://www.credly.com/badges/9e320b9a-8b01-4faa-9703-973d55651ac8/public_url"  target="_blank" class="nav-link mb-1"><li><span><img src="assets/images/ccna.png" alt="badge" class="mx-2 rounded"></span>Cyber Threat Management System</li></a>
                    <a href="assets/pdf/CCNA-_Introduction_to_Networks_certificate_qjunesarah-gmail-com_6d3443e8-5aab-4ff0-9694-8f913ffb0322.pdf" target="_blank" class="nav-link mb-1"><li><span><i class="fa-solid fa-circle-down mx-2"></i></span>CCNA Introduction to Networking</li></a>
                    <a href="assets/pdf/CCNA-_Introduction_to_Networks_certificate_qjunesarah-gmail-com_6d3443e8-5aab-4ff0-9694-8f913ffb0322.pdf" target="_blank" class="nav-link mb-1"><li><span><i class="fa-solid fa-circle-down mx-2"></i></span>Cybersecurity Essentials</li></a>
                    <a href="https://www.freecodecamp.org/certification/Sarj/responsive-web-design" target="_blank" class="nav-link mb-1"><li>freeCodeCamp Responsive Web Design</li></a>
                </ul>
            </div>
            <div class="2023" data-aos="fade-up" data-aos-duration="2500">
                <div class="d-flex align-items-center gap-2 mb-2">
                    <i class="fa-solid fa-star star rotate-reverse"></i>
                    <h5 class="my-auto">2023</h5>
                </div>
                <ul class="cert-links">
                    <a href="https://www.credly.com/badges/80e3772b-8ecd-4fbe-8092-5bbb402e927a/public_url" target="_blank" class="nav-link mb-1"><li><span><img src="assets/images/comptia-badge.png" alt="badge"></span>CompTIA ITF+ Certification</li></a>
                    <a href="https://www.coursera.org/account/accomplishments/verify/5E6BA3PP485P?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=pdf_header_button&utm_product=project" target="_blank" class="nav-link mb-1"><li>Coursera Get Started with Figma</li></a>
                </ul>
            </div>
    </div>
</div>
