.nav-tabs {
  --bs-nav-tabs-border-width: var(--bs-border-width);
  --bs-nav-tabs-border-color: var(--bs-warning);
  --bs-nav-tabs-border-radius: var(--bs-border-radius);
  --bs-nav-tabs-link-hover-border-color: var(--bs-body-bg) var(--bs-body-bg) var(--bs-warning) var(--bs-body-bg);
  --bs-nav-tabs-link-active-bg: rgba(var(--bs-warning-rgb), 0.5);
  --bs-nav-tabs-link-active-border-color: var(--bs-nav-tabs-border-color) var(--bs-nav-tabs-border-color) var(--bs-body-bg);
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.nav-tabs .nav-link.active {
  border-top: var(--bs-nav-tabs-border-width) solid var(--bs-warning) !important;
  border-left: var(--bs-nav-tabs-border-width) solid var(--bs-warning) !important;
  border-right: var(--bs-nav-tabs-border-width) solid var(--bs-warning) !important;
  border-bottom: none !important;
  color: var(--bs-emphasis-color) !important;
}

.navbar-blur {
  transition: 
    top 0.5s ease, 
    background-color 0.3s ease, 
    backdrop-filter 0.3s ease, 
    border-bottom 0.3s ease, 
    box-shadow 0.3s ease;
}

.navbar-blur.scrolled {
  background-color: var(--bs-body-bg); 
  backdrop-filter: blur(20px);
  border-bottom: 2px solid #ffc107; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.2); 
}

.nav-tabs .nav-link {
  border: none !important;
}
.mobile {
    display: none !important;
}
.desktop {
    display: flex !important;
}
@media only screen and (max-width: 846px) {
  .mobile {
    display: flex !important;
  }
  .desktop {
    display: none !important;
  }
}