<div class="container mt-5 pt-5">
    <div class="text-center">
        <h1 data-aos="fade-up" data-aos-duration="1000">CONTACT ME</h1>
        <p class="fst-italic mb-3" data-aos="fade-up" data-aos-duration="1000"  >Let's work together.</p>
    </div>
    <div class="container mx-5 d-flex flex-column flex-xl-row justify-content-center">
        <div class="w-75 mb-5" data-aos="fade-rgiht" data-aos-duration="1000">
            <h5 class="mb-3">Send me a message...</h5>
            <form method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Your name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"  placeholder="name@email.com" name="email">
                    <div id="emailHelp" class="form-text text-end">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Project Overview or Message</label>
                    <textarea class="form-control" id="message" rows="3"  placeholder="Leave a message here!" name="message"></textarea>
                </div>
                <div class="float-end">
                    <button type="submit" class="btn btn-outline-warning d-flex gap-2 align-items-center justify-content-center rounded-pill p-3"><i class="fa-solid fa-paper-plane"></i>Send Message</button>
                </div>
            </form>
        </div>
        <div class="container d-flex">
            <div class="mx-auto" data-aos="fade-right" data-aos-duration="1000">
                <div class="container">
                    <div class="">
                        <img src="assets/images/logo-mark-yellowbg.png" alt="logo" class="mb-3 px-auto">
                    </div>
                    <a href="https://github.com/qjsarah" class="nav-link d-flex align-items-center gap-3 mb-2" target="_blank">
                        <i class="fa-brands fa-github fa-xl"></i>
                        <p class="my-auto">qjsarah</p>
                    </a>
                    <a href="https://maps.app.goo.gl/MpHfwSK6iacLn95z7" class="nav-link d-flex align-items-center gap-3 mb-2" target="_blank">
                        <i class="fa-solid fa-location-dot fa-xl"></i>
                        <p class="my-auto">003 Quintong San Carlos City Pangasinan</p>
                    </a>
                    <a href="tel:+639150990443" class="nav-link d-flex align-items-center gap-3 mb-2" target="_blank">
                        <i class="fa-solid fa-phone fa-xl"></i>
                        <p class="my-auto">09150990443</p>
                    </a>
                    <a href="mailto:qjunesarah@gmail.com" class="nav-link d-flex align-items-center gap-3 mb-2" target="_blank">
                        <i class="fa-regular fa-envelope fa-xl"></i>
                        <p class="my-auto">qjunesarah&#64;gmail.com</p>
                    </a>
                    <button class="btn btn-outline-warning d-flex justify-content-center align-items-center rounded-5 gap-1 p-3">
                    <i class="fa-solid fa-file-arrow-down"></i>
                    <p class="my-auto">Download Resume</p>
                </button>
                </div>
            </div>
        </div>
    </div>
</div>