<canvas id="starCanvas" class="star-canvas"></canvas>

<body data-bs-spy="scroll" data-bs-target="#nav-tabs" data-bs-offset="0" data-bs-smooth-scroll="true" tabindex="0">
  <section class="sticky-top">
    <app-navbar></app-navbar>
  </section>

  <section id="#">
    <app-home></app-home>
  </section>

  <section id="about">
    <app-about></app-about>
  </section>

  <section id="skills">
    <app-skills></app-skills>
  </section>
  <section id="projects">
    <app-projects></app-projects>
  </section>
</body>
<router-outlet/>