/* You can add global styles to this file, and also import other style files */

#testimonial-container{
    width: 100%;
    position: relative;
    height: 220px;
}
.testimonial, .top-work {
    width: 100%;
    max-width: 1000px;
    position: absolute;
    opacity: 0;
    transform: translateX(100%);
    animation: slideLoop 12s infinite;
}

.testimonial:nth-child(1), .top-work:nth-child(1) {
    animation-delay: 0s;
}

.testimonial:nth-child(2), .top-work:nth-child(2) {
    animation-delay: 4s;
}

.testimonial:nth-child(3), .top-work:nth-child(3) {
    animation-delay: 8s;
}
@keyframes slideLoop {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    10%, 30% {
        opacity: 1;
        transform: translateX(0);
    }
    40% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.testimonial-text {
    font-size: 16px;
    font-style: italic;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.testimonial-author {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
}

.img-grid {
    width: 48%;
}
#custom-vh {
    height: 58vh;  
}
.footer-margin {
    margin-top: 9%;
}
.mobile {
    display: none;
}
.desktop {
    display: block;
}
@media only screen and (max-width: 846px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
.fade-in {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}